*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
li{
    list-style: none;
}
.errors{
    color: red;
}

.green{
    color: #17a2b8;
}

.outer_container{
    width: 100%;
    height: 100%;
    min-height: 92vh;
    background-color: rgb(238, 238, 238);
}

// Search bar container
#search_bar_container{
    width: 100%;
    height: 70px;
    background-color: #17a2b8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form_container{
        .search_bar1{
            outline: none;
            border: none;
            min-width: 31rem;
            border-radius: 5px;
            margin-right: 10px;
        }
        .search_bar1_btn{
            padding: 0;
            font-size: 12px;
            padding: 2px 6px;
            letter-spacing: 0.4px;
        }
    }
    #search_bar{
        width: 94%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        padding: 5px 10px;
        .logo_container{
            color: white;
            .logotip{
                font-weight: 900;
            }
            
        }
        .current_user_container{
            display: flex;
            align-items: center;
            p{
                margin-right: 10px;
                color: white;
            }
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}


// Inner container
.inner_container{
    width: 1000px;
    margin: auto;
    padding-left: 60px;
    min-height: 86vh;
    .inner{
        display: flex;
        width: 700px;
        height: 100%;
    }
}

#navigation{
    padding: 10px;
    margin-right: 20px;
    li{
        margin-top: 10px;
        width: 100px;
        a{
            font-size: 14px;
            color: #17a2b8;
            ion-icon {
                padding-right: 10px;
              }
        }
    }
}




.main_container{
    background-color: white;
    width: 600px;
    min-width: 600px;
    margin: auto;
    .page_title_container{
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        color: #17a2b8;
        font-weight: 900;
        a{
            font-weight: 400;
            color: #17a2b8;
        }
    }
}
.all_posts_container{
    padding: 0 20px;
}

.post_container{
    background-color: rgb(238, 238, 238);
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px 20px;
    .post_header{
        display: flex;
        align-items: center;
        .avatar{
            a{
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        .poster{
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            .poster_name{
                font-size: 12px;
            }
            small{
                font-size: 12px;
                color: rgb(172, 172, 172);
                margin-top: 0;
            }
        }
    }
    .post_title{
        font-size: 18px;
        margin-top: 6px;
        margin-bottom: -8px;
    }
    .post_content{
        margin-top: 10px;
        margin-bottom: 0;
        padding: 0;
        font-size: 14px;
    }
    .post_image_container{
        margin: 0;
        padding: 0;
        margin-bottom: 7px;
        img{
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
    }


    
    .comment_container{
        form{
            .comment_input{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .add_comment_input{
                    input{
                        outline: none;
                        border: none;
                        // min-width: 31rem;
                        width: 473px;
                        border-radius: 5px;
                        margin-right: 10px;
                        padding: 4px 10px;
                        font-size: 12px;
                    }
                }
                .btn_add{
                    padding: 0;
                    font-size: 12px;
                    padding: 2px 6px;
                    letter-spacing: 0.4px;
                    margin-top: 1px;
            
                }
            }
        }
        .show_comments{
            font-size: 12px;
            margin-top: 10px;
            color: #17a2b8;
            cursor: pointer;
        }
        .display_comments_container{
            display: none;
            padding: 5px 10px;
            font-size: 12px;
            .display_comment{
                display: flex;
                align-items: flex-start;
                margin-top: 20px;
                .comment_poster_photo{
                    margin-right: 10px;
                    a{
                        img{
                            width: 26px;
                            height: 26px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                }
                .comment_content{
                    margin-bottom: 0;
                    .comment_poster{
                        color: #17a2b8;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                    .comment_text{
                        font-style: italic;
                        margin-bottom: 0;
                    }
                    small{
                        color: grey;
                    }
                }
                // p{
                //     margin-bottom: 0;
                //     color: grey;
                // }
            }
        }
    }
}
.post_container:last-child{
    margin-bottom: 20px;
}





#sidebar_container{
    padding: 10px;
    margin-left: 20px;
    li{
        margin-top: 10px;
        width: 80px;
        a{
            font-size: 14px;
            color: #17a2b8;
            ion-icon {
                padding-left: 6px;
            }
        }
    }
}
.hydrated {
    visibility: inherit;
    margin-bottom: -2px;
}


// Sign In page
.signin_container{
    padding: 20px;
}

// Register Page
.register_container{
    padding: 20px;
}


// My Profile Page
.profile_page_container{
    padding: 20px;
    .avatar_img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .box{
            width: 200px;
            height: 200px;
            img{
                border-radius: 50%;
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
        }

        .profile_info{
            text-align: right;
        }
    }
    .about_user{
        margin-top: 20px;
        text-align: center;

    }
}
.no_provided{
     font-style: italic;
     color: rgb(172, 172, 172);       
}


#user_post_info{
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    background-color: #93d4de3d;
    .avatar{
        a{
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}

.which_form{
    display: flex;
    font-size: 14px;
    margin-left: 10px;
}
.devider{
    margin: 0 10px;
}

#text_post_btn,
#image_post_btn,
#video_post_btn,
#cancel_post_btn{
    color: #17a2b8;
    cursor: pointer;
}
#text_post,
#image_post,
#video_post{
    display: none;
    padding: 6px;
    background-color: #93d4de3d;
}

.avatar{
    a{
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
// Footer
// Search bar container
#footer_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8vh;
    color: #17a2b8;
    letter-spacing: 0.4px;
    a{
        color: rgb(0, 0, 0);
    }
}