*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
.errors{
    color: red;
}

.green{
    color: #17a2b8;
}

.outer_container{
    width: 100%;
    height: 100%;
    min-height: 92vh;
    background-color: rgb(238, 238, 238);
}

// Search bar container
#search_bar_container{
    width: 100%;
    height: 70px;
    background-color: #17a2b8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form_container{
        .search_bar1{
            outline: none;
            border: none;
            min-width: 31rem;
            border-radius: 5px;
            margin-right: 10px;
        }
        .search_bar1_btn{
            padding: 0;
            font-size: 12px;
            padding: 2px 6px;
            letter-spacing: 0.4px;
        }
    }
    #search_bar{
        width: 94%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        padding: 5px 10px;
        .logo_container{
            color: white;
        }
        .current_user_container{
            display: flex;
            align-items: center;
            p{
                margin-right: 10px;
                padding-top: 18px;
                color: white;
            }
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
}


// Inner container
.inner_container{
    width: 1000px;
    margin: auto;
    padding-left: 100px;
    min-height: 86vh;
    .inner{
        display: flex;
        width: 700px;
        height: 100%;
    }
}

#navigation{
    padding: 10px;
    margin-right: 20px;
    li{
        margin-top: 10px;
        a{
            font-size: 14px;
            color: #17a2b8;
            
        }
    }
}





.main_container{
    background-color: white;
    width: 600px;
    min-width: 600px;
    margin: auto;
    .page_title_container{
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        color: #17a2b8;
        font-weight: 900;
        a{
            font-weight: 400;
            color: #17a2b8;
        }
    }
}
.all_posts_container{
    padding: 0 20px;
}

.post_container{
    background-color: rgb(238, 238, 238);
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px 20px;
    .post_header{
        display: flex;
        align-items: center;
        .poster{
            margin-left: 10px; 
            .poster_name{
                font-size: 12px;
                margin-bottom: -6px;
            }
            small{
                font-size: 12px;
                color: rgb(172, 172, 172);
                margin-top: 0;
            }
        }
    }
    .post_image_container{
        margin: 0;
        padding: 0;
        img{
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
    }
    .post_content{
        margin-top: 5px;
        margin-bottom: 0;
        padding: 0;
        font-size: 14px;
    }
}
.post_container:last-child{
    margin-bottom: 20px;
}
.avatar > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#sidebar_container{
    padding: 10px;
    margin-left: 20px;
    li{
        margin-top: 10px;
        a{
            font-size: 14px;
            color: #17a2b8;
            
        }
    }
}


// Sign In page
.signin_container{
    padding: 20px;
}

// Register Page
.register_container{
    padding: 20px;
}


// My Profile Page
.profile_page_container{
    padding: 20px;
    .avatar_img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        .profile_info{
            text-align: right;
        }
    }
    .about_user{
        margin-top: 20px;
        text-align: center;

    }
}
.no_provided{
     font-style: italic;
     color: rgb(172, 172, 172);       
}


#user_post_info{
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #93d4de3d;
}

.which_form{
    display: flex;
    font-size: 14px;
    margin-left: 10px;
    padding-top: 18px;
}
.devider{
    margin: 0 10px;
}
#image_post_btn,
#video_post_btn,
#cancel_post_btn{
    color: #17a2b8;
    cursor: pointer;
}
#image_post,
#video_post{
    display: none;
    padding: 6px;
    background-color: #93d4de3d;
}


// Footer
// Search bar container
#footer_container{
    width: 100%;
    background-color: #17a2b8;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8vh;
    color: white;
    letter-spacing: 0.4px;
    a{
        color: white;
    }
}