{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JQuery -->
    <script defer src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
    <title>Dashboard</title>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    {% for image in post_images %}
    <img src="{{ MEDIA_URL }}{{ image }}" alt="">
    {% endfor %}
    <div class="page_container">
        <h1>Dashboard Page</h1>
            {% for post in posts %}
            <div class="post_container jumbotron jumbotron-fluid">
                <div class="post_header">
                    <div class="avatar">
                        <img src="{{ MEDIA_URL }}{{ post.poster.avatar }}" alt="{{ post.poster.first_name}}'s avatar">
                    </div>
                    <h3 class="post_title">{{ post.title }}</h3>
                </div>
                <div class="post_image_container">
                    <img src="{{ MEDIA_URL }}{{ post.post_image }}" alt="{{post_image.name}}">
                </div>
                <p>{{ post.content }}</p>
                <div class="one_video_container">
                    {% for i in post.videos.all %}			
                        {% video i.video '820x520' %}		
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
    </div>
    


</body>
</html>



