{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Dashboard</title>
</head>
<body>
    <div class="outer_container">
        {% include 'search.html' %}

        <div class="inner_container">
            <div class="inner">
                {% include 'navbar.html' %}
    
                <div class="main_container">
                    <div class="page_title_container">
                        <h4>Dashboard Page</h4>
                    </div>
    
                    <div class="all_posts_container">
                        {% for post in posts %}
                            <div class="post_container">
                                <div class="post_header">
                                    <div class="avatar">
                                        <img src="{{ MEDIA_URL }}{{ post.poster.avatar }}" alt="{{ post.poster.first_name}}'s avatar">
                                    </div>
                                    <div class="poster">
                                        <p class="poster_name">{{ post.poster.first_name }} {{ post.poster.last_name }}</p>
                                        <small>{{ post.created_at }}</small>
                                    </div>
                                    
                                </div>
                                <!-- <h3 class="post_title">{{ post.title }}</h3> -->
                                <p class="post_content">{{ post.content }}</p>
                                <!-- <small>{{ post.id }}</small> -->

                                <!-- if post has an video, display this: -->

                                {% for i in post.videos.all %}
                                <div class="one_video_container">			
                                    {% video i.video '520x300' %}		
                                </div>
                                {% endfor %}

                                <!-- if post has an image, display this: -->
                                <div class="post_image_container">
                                    <img src="{{ MEDIA_URL }}{{ post.post_image }}" alt="">
                                </div>


                                <div class="comment_container">
                                    <form action="/add_coment/post/{{ post.content }}" id="form_addComment">
                                        <div class="form-group">
                                            <input type="text" name="comment" class="form-control" placeholder="write a comment">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
    
                </div>
    
                {% include 'sidebar.html' %}
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
</body>
</html>