<div id="navigation">
    <nav>
        <ul>
            {% if request.session.user_id != null %}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/user/{{ request.session.user_id }}/profile">My Profile</a></li>
            <li><a href="/user/{{ request.session.user_id }}/profile">Messages</a></li>
            <li><a href="/user/{{ request.session.user_id }}/profile">Images</a></li>
            <li><a href="/user/{{ request.session.user_id }}/profile">Music</a></li>
            <li><a href="/user/{{ request.session.user_id }}/profile">Video</a></li>
            <li>
                {% if request.session.user_id != null %}
                <a href="/logout">Logout</a>
                {% else %}
                <a href="/login">Login</a>
                {% endif %}
            </li>  
            {% endif %}

        </ul>
    </nav>
</div>



