<div class="nav-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div id="menu_container" class="collapse navbar-collapse" >
            <ul class="menu_list_container navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <!-- <li><a href="/dashboard">Dashboard</a></li> -->
                {% if request.session.user_id != null %}
                <li class="nav-item"><a class="nav-link" href="/user/{{ request.session.user_id }}/profile">My Profile</a></li>
                {% endif %}
                <li class="nav-item">
                    {% if request.session.user_id != null %}
                    <a class="nav-link login_a" href="/logout">Logout</a>
                    {% else %}
                    <a class="nav-link login_a" href="/login">Login</a>
                    {% endif %}
                </li>  
            </ul>
        </div>

        <div id="logo_container">
            <a href="/">
                <ion-icon name="hammer"></ion-icon>
            </a>
        </div>
    </nav>
</div>
