{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JQuery -->
    <script defer src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
    <title>Video</title>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <h1>Video Page</h1>
    <div class="page_container">
        <form action="/create_new_post" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label for="content">Description:</label>
                <input type="text" name="content" class="form-control" id="content" >
            </div>
            <div class="form-group">
                <label for="video_item">Video URL:</label>
                <input type="url" name="video_item" class="form-control" id="video_item">
            </div>
            <button>Post</button>
        </form>

    
        <br>
        
            {% for post in posts %}
            <div class="post_container">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <div class="one_video_container">
                    {% for i in post.videos.all %}			
                        {% video i.video 'small' %}		
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <!-- {% for i in videos %}
            <div class="one_video_container">
                {% video i.video 'small' %}
            </div>
            {% endfor %} -->
    </div>
    


</body>
</html>